.hidden{ /*요소를 숨기는 클래스*/
    /*이 클래스를 요소에 넣었다 뺐다하면서
    화면이 바뀌는 것처럼 해줄거임*/
    display: none;
}


img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
    }